.breadcrumb {
  align-items: center;
  background-color: #fadd4b;
  display: flex;
  flex-direction: row;
  height: 60px;
  position: relative;
}

.title {
  font-size: 22px;
  line-height: 1.6;
  margin: 0;
  padding: 12px 30px;
  position: relative;
  width: 212px;
}

.bubble {
  position: absolute;
  top: 8px;
}

.links {
  flex: 1;
}

.link {
  display: inline-block;
  font-size: 12px;
  margin-right: 8px;
  text-transform: uppercase;
}

.trail:not(:last-child)::after {
  content: '\003e';
  margin-left: 8px;
}
