.root {
  padding-bottom: 80px;

  & h2 {
    margin: 0 0 20px;
  }
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product {
  color: #630;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  text-decoration: none;
  transition: opacity 0.2s ease;
  width: 300px;

  & h3 {
    font-size: 14px;
    min-height: 44px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.imgContainer {
  border-radius: 8px;
  height: 200px;
  position: relative;
  width: 100%;

  & .comingSoon {
    background-color: #000;
    bottom: 0;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    opacity: 0.7;
    padding: 8px;
    position: absolute;
    left: 0;
    border-bottom-left-radius: 8px;
  }
}

.btn {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  margin: 8px auto;
  padding: 10px;
  width: 125px;
}

.shortDescription {
  display: block;
  flex: 1;
  font-size: 12px;
}

@media (width <= 768px) {
  .product {
    width: 100%;
  }

  .img {
    height: auto;
  }
}
