.root {
  padding-bottom: 80px;

  & h2 {
    margin: 0 0 20px;
  }
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product {
  color: #630;
  font-weight: 300;
  text-decoration: none;
  transition: opacity 0.2s ease;
  width: 200px;

  @media (width <= 760px) {
    width: 100%;
  }

  & h3 {
    font-size: 14px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.img {
  width: 100%;
}

.btn {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  margin: 8px auto;
  padding: 10px;
  width: 125px;
}

.shortDescription {
  display: block;
  font-size: 12px;
}
