.root {
  background: url('./bg_footer_shop.gif') 0 0 repeat;
  display: flex;
  padding: 50px 0;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1120px;

  @media (width <= 760px) {
    width: 100%;
  }
}

.shop {
  flex: 1;
  margin: 0 auto;
  padding: 0 10px;
}

.state {
  color: #663300;
  display: block;
  font-weight: 700;
}

.city {
  display: block;
  font-size: 12px;
}

.flex {
  flex: 1;
}

