.content {
  margin: 0 auto;
  padding: 0 20px;
  width: 1120px;
}

.date {
  color: #ff6600;
}

.title {
  color: #663300;
  margin: 0 16px;

  &:hover {
    text-decoration: underline;
  }
}

@media (width <= 768px) {
  .content {
    width: 100%;
  }
}
