.root {
  position: relative;
}

.hero {
  width: 100%;
}

.descriptionBox {
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  bottom: 70px;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 410px;
}

.header {
  height: 40px;
  position: relative;
}

.btn {
  background: url('./ico_list-bl.png') 20px no-repeat;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #222;
  display: block;
  margin: 16px auto;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.infoBtn {
  background-color: #222;
  border: none;
  border-radius: 15px;
  color: #fff;
  height: 40px;
  padding: 0 30px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;

  &::focus {
    outline: none;
  }
}

.content {
  overflow: scroll;
  transition: max-height 0.5s ease-in-out;
  white-space: pre-wrap;
}

.content.collapsed {
  max-height: 0;
}

.content.expanded {
  max-height: 400px;
}

@media (width <= 768px) {
  .descriptionBox {
    border-radius: 0;
    bottom: 0;
    position: relative;
    width: 100%;
  }

  .btn {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    margin: 16px auto 0;
    padding: 10px;
    transition: opacity 0.2s ease;
    user-select: none;
    width: 200px;

    &:hover {
      opacity: 0.7;
    }
  }

  .root {
    padding-bottom: 70px;
  }
}
