.root {
  margin: -35px auto 0;
  position: relative;
}

.footerTop {
  background: url('./bg_footer_page.png') center center no-repeat;
  height: 35px;
}

.footerContent {
  display: flex;
  font-size: 12px;
  margin: 0 auto;
  width: 1120px;
}

.footerBottom {
  background: url('./bg_footer_page02.png') 62px center no-repeat;
  bottom: -35px;
  height: 35px;
  position: relative;
}

.backToTop {
  background-color: #222;
  border-radius: 20px;
  bottom: 40px;
  position: fixed;
  right: 40px;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.icon {
  color: #fff;
  height: 40px;
  line-height: 35px !important;
  text-align: center;
  width: 40px;
}

.list {
  flex: 1;
  list-style-image: url('./ico_list_black.png');

  & li {
    padding: 5px 0;
  }

  & li a {
    color: #222;
    text-decoration: none;
  }

  & li a:hover {
    text-decoration: underline;
  }
}

.subList {
  list-style-image: url('./ico_list_black02.png');
  padding-left: 20px;
}

@media (width <= 768px) {
  .footerContent {
    width: 100%;
  }
}
