.root {
  padding-bottom: 80px;
}

.row {
  display: flex;
  margin: 0 auto;
  width: 1120px;
}

.column {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  width: 558px;
}

@media (width <= 768px) {
  .row {
    display: block;
    width: 100%;
  }

  .column {
    width: 100%;
  }
}
