.root {
  padding-bottom: 80px;
}

.row {
  display: flex;
  margin: 0 auto;
  width: 1120px;

  @media (width <= 760px) {
    display: block;
    width: 100%;
  }
}

.column {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  width: 558px;

  @media (width <= 760px) {
    width: 100%;
  }
}
